<div id="textWrapper">
	<div id="text">Hi my name is <b>Ajay</b>. I'm an iOS developer in <b>NYC</b>. I was born and lived in <b>Japan</b> 18 years. I build cool <a href="">apps</a>. You can follow me on <a href="https://twitter.com/ajayjapan" target="_blank" >Twitter</a>. Do business with me on <a href="http://www.linkedin.com/in/ajaychainani" target="_blank" >Linkedin</a>. Fund me on <a href="https://angel.co/ajayjapan" target="_blank" >AngelList</a>. Or simply nerd out with me on <a href="https://github.com/achainan">Github</a>.
</div>
<br>
<br>
<br>
<div id="imageWrapper">
    <%= image_tag("iphone.png", :id => "iphoneImage") %>
</div>
