
<div id="textWrapper">
	<div id="text">
		
		<b> Here are some apps I have built (or contributed to): </b>
		
		<br><br>
		<div id="header">
			<img src="http://a1685.phobos.apple.com/us/r1000/078/Purple2/v4/5c/a2/27/5ca22726-ae98-315b-7064-ca8e40d4dd48/mzl.kjdgieru.png" width=57 class="app" >
			<a href="https://itunes.apple.com/us/app/id422549956" id="appWrapper">Sonar: Friends Nearby</a>
		</div>

		<br>
		<div id="header">
			<img src="http://a920.phobos.apple.com/us/r1000/090/Purple/v4/d4/20/4a/d4204a5c-2fe4-7183-b24b-cc9805df1019/moveline-iphone-icon-57.png" class="app" width=57>
			<a href="https://itunes.apple.com/us/app/id562626726" id="appWrapper">Moveline</a>
		</div>
		
		<br>
		<div id="header">
			<img src="http://a663.phobos.apple.com/us/r1000/106/Purple/v4/f5/e9/e8/f5e9e8f5-87e0-a556-01b2-cddba8b6b5e7/raven.png" width=57 class="app" >
			<a href="https://itunes.apple.com/us/app/id528878078" id="appWrapper">TweetBeat for Twitter</a>
		</div>
		
		<br>
		<div id="header">
			<img src="http://a1664.phobos.apple.com/us/r1000/083/Purple/v4/dd/d8/04/ddd80405-6bb3-fb06-1b31-25e635f33316/mzl.sbwmwhdm.png" width=57 class="app" >
			<a href="https://itunes.apple.com/us/app/id517526535" id="appWrapper">Rewind</a>
		</div>
		
		<br>
		<div id="header">
			<img src="http://a1453.phobos.apple.com/us/r1000/098/Purple2/v4/4f/20/83/4f20834e-8ba7-afb6-357a-a5397330e658/icon.png" width=57 class="app" >
			<a href="https://itunes.apple.com/us/app/id348552026" id="appWrapper">I'm Here - Easily share your location.</a>
		</div>
		
		<br>
		<div id="header">
			<img src="http://a1069.phobos.apple.com/us/r1000/095/Purple/v4/11/e3/10/11e31025-862a-1252-c0df-10ccad6c1661/PopSci_Tour_icon_72.png" width=57 class="app" >
			<a href="https://itunes.apple.com/us/app/id529337326" id="appWrapper">Popular Science @ ATLAS: An Immersive Video Tour</a>
		</div>
		
		
		
<br>
<div id="iphoneImage">
</div>
